@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Quicksand:wght@300;400;500;700&display=swap');

:root{
    --color1: #7798f2;
    --color2: #152440;
    --color3: #425b93;
    --color4: #b4dcff;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}
svg{
    width: 100%;
    display: block;
    fill: currentColor;
}


html{
    scroll-behavior: smooth;
}

h2{
    font-family: 'Dancing Script';
    font-weight: bold;
}

h3{
    font-family: 'Dancing Script';
    font-weight: bold;
}



.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

/* SECCION INICIO */
#incio{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#inicio header{
    width: 100%;
}

#inicio header .contenido-header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: relative;
}

#inicio header .contenido-header nav{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#inicio header .contenido-header nav ul{
    display: flex;
    list-style: none;
}

#inicio header .contenido-header .logo img{
    width: 100px;
}

#inicio header .contenido-header nav ul li{
    text-align: center;
}

#inicio header .contenido-header nav ul li i{
    display: block;
    color: #a8a8a8;
    margin: 0 20px;
}

#inicio header .contenido-header nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: #a8a8a8;
    margin: 0 20px;
}

.nav-responsive{
    font-size: 25px;
    color: #a8a8a8;
    display: none;
    margin-left: 85%;
    background: #fff;
    padding: 10px;
    z-index: 100;
    border-radius: 20%;
}

#inicio header .contenido-header nav ul li:hover i{
    color: var(--color1);
}

#inicio header .contenido-header .social a{
    display: inline-block;
    background-color: var(--color1);
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
}

/* CARRUSEL */
#inicio .carrusel{
    position: relative;
    height: 50%;
    margin: auto;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

#inicio .carrusel .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 15%;
    color: #fff;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

#inicio .carrusel .info h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Dancing Script';
}


#inicio .gallery{
    width: 100%;
    height: 100%;
}


#inicio .gallery-cell img{
    display: block;
    width: 100vw;
    height: 60vh;
    max-width: 1200px;
    object-fit: cover;
    border-radius: 20px;
}

/* SECCION NOSOTROS */
#nosotros{
    margin: 30px 0;
}

.nosotros{
    display: flex;
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 40px;
    background: url(/img/svg/subtle-prism.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

#nosotros h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    color: #ffffff;
}

#nosotros p{
    color: #ffffff;
}

.quienes{
    width: 60%;
    margin: 20px;
    padding-left: 40px;
}
.proposito{
    width: 40%;
    margin: 20px;
    padding-right: 40px;
}


/* SECCION SERVICIOS */
#servicios{
    padding: 50px 0;
}

#servicios h2{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

#servicios .text_servicios{
    width: 80%;
    margin: auto;
    text-align: center;
}

#servicios h3{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

#servicios .contentService{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content:center;
    align-items: center;
}

#servicios .contentService .habitaciones, .servicios-adicionales{
    margin: 0 20px;
}

#servicios .contentService .item{
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 5px;
}

#servicios .contentService .item:hover{
    background-color: var(--color1);
    border-radius: 10px;
    color: #fff;
}

#servicios .contentService .item .icono i{
    font-size: 45px;
    color: var(--color1);
}

#servicios .contentService .item:hover .icono i{
    color: #fff;
}

#servicios .contentService .item .info{
    margin-left: 15px;
    font-size: 14px;
}

.gridHabitaciones{
    display: grid;
    grid-template-columns: auto auto;
}

.gridServicios{
    display: grid;
    grid-template-columns: auto auto auto;
}

.separacion{
    width: 2px;
    height: 300px;
    margin-top: 100px;
    background: var(--color2);
}

/* SECCION GALERIA */


.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}



/* SECCION TURISMO */

#turismo{
    max-width: 1200px;
    margin: auto;
    background: #FBF8F7;
    border-radius: 20px;
    padding: 30px 0;
}
#turismo h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

#turismo .fila{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

#turismo .fila .item{
    width: 33%;
    position: relative;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

#turismo .fila .item img{
    width: 100%;
    height: 100%;
    display: block;
}

#turismo .fila .item p{
    position: absolute;
    width: 100%;
    bottom: -100%;
    padding: 10px;
    background-color: var(--color1);
    color: #fff;
    transition: .5s;
}

#turismo .fila .item:hover p{
    bottom: 0;
}


#turismo2{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FBF8F7;
    overflow: hidden;
    padding-bottom: 40px;
    margin: 30px auto;
    border-radius: 20px;
}

#turismo2 h2{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    padding: 20px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 550px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
    filter: blur(4px);
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide-active{
    filter: blur(0px);
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.swiper-slide .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.swiper-slide .content h3{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}


/* SECCION UBICACION */
/* #ubicacion{
    background: url(/./img/svg/flat-mountains.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
} */

#ubicacion{
    margin: 30px 0;
}

.ubicacion{
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    background: url(/img/svg/rainbow-vortex.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}

.como_llegar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.como_llegar h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    color: #ffffff;
}

.como_llegar p{
    text-align: center;
    color: #ffffff;
}

.subidaBajada{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.horarios{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.mapa{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.mapa iframe{
    width: 100%;
    height: 100%;
}


/* SECCION CONTACTO */ 



/* FOOTER */

#footer{
    background:var(--color1);
}

footer{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 20px;
}

.brand+p{
    font-weight: 500;
    font-size: 15px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: var(--color1);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}


/* RESPONSIVE */
@media screen and (max-width:1070px) {
    #inicio header .contenido-header .social{
        display: none;
    }

    #inicio header .contenido-header nav{
        position: static;
        transform: translate(0);
    }

    .carrusel{
        width: 90%;
    }

    .nosotros{
        width: 90%;
    }

    .contentService{
        flex-direction: column;
    }

    .separacion{
        display: none;
    }
}

@media screen and (max-width:700px){
    #servicios .fila{
        display: inline-block;
    }

    #servicios .fila .item{
        width: 80%;
    }

    #turismo .fila{
        display: block;
    }

    #turismo .fila .item{
        display: block;
        width: 80%;
    margin: auto;
    }

    #inicio header .contenido-header nav{
        position: initial;
        display: none;
        transform: translate(0);
    }

    .nav-responsive{
        display: flex;
        position: fixed;
    }

    #inicio header .contenido-header{
        padding: 20px;
    }

    #inicio header .contenido-header nav.responsive{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 70px;
        width: 100%;
        height: 100vh;
        background-color: #252a2e;
        z-index: 99;
    }

    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10% 0;
    }

    #inicio .carrusel .info{
        width: 60%;
        height: 23%;
    }

    .nosotros{
        flex-direction: column;
    }

    .quienes{
        width: 90%;
        padding: 20px 0;
        margin: auto;
        text-align: center;
    }

    .proposito{
        width: 90%;
        padding: 20px 0;
        margin: auto;
        text-align: center;
    }

    .swiper-slide{
        width: 350px;
    }

    .swiper-slide img{
        height: 200px;
    }
} 